.home {
    background-image: url(assets/home-background.png);
}
.block-1 {
    position: relative;
}
.block-1 .mini-game {
    position: absolute;
    bottom: 0;
    left: 4%;
}
.block-4 {
    position: relative;
}
.block-4 .workshop-item {
    position: absolute;
    z-index: 3;
}
.circle{
    opacity: 0;
}
.circle-1.start {
    animation: animationCircle linear 0.5s;
    transform: translate(0,1480px);
}
.circle-2.start {
    animation: animationCircle linear 0.6s;
    transform: translate(-450px, 1480px);
}
.circle-3.start {
    animation: animationCircle linear 0.7s;
    transform: translate(-915px, 1480px);
}
.circle-4.start {
    animation: animationCircle linear 0.9s;
    transform: translate(0, 1000px);
}
.circle-5.start {
    animation: animationCircle linear 0.8s;
    transform: translate(-450px, 1000px);
}
.circle-6.start {
    animation: animationCircle linear 0.8s;
    transform: translate(-915px, 1000px);
}
.circle.start{
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode:forwards;
}
@keyframes animationCircle{
	0% {
		opacity:0;
		transform:  translate(0,1000px);
	}
	100% {
		opacity:1;
		transform:   translate(0,0);
	}
}