@font-face {
	font-family: 'Nexa';
	src: url('fonts/Nexa/Nexa\ Bold.otf') format('truetype');
	/* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
	padding: 0;
	margin: 0;
}

html {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	font-family: 'Nexa', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

.pd-0 {
	padding: 0;
}

.red-text {
	color: #E12228;
}

.bold-text {
	font-weight: bold;
}

.red-line {
	background-color: #E12228;
	height: 2px;
}

#main-wrap {
	overflow: hidden;
}

#main-wrap .row {
	margin-left: 0;
	margin-right: 0;
}

.btn-custom {
	background-color: #fff;
	border-radius: 10px;
	color: #fff;
	padding: 5px 30px;
	margin-bottom: 1rem;
	font-weight: bold;
}

.btn-custom:hover {
	color: #fff;
}

/* menu */
/* .logo {} */

#main-menu {
	text-align: center;
}
.menu-wrap::after{
	content:url(assets/cloud-down.png);
}

.navbar {
	background-color: #fff;
}

.cloud-down {
	position: absolute;
}

.navbar .navbar-brand {
	margin-right: 140px;
}

.navbar .navbar-brand img {
	max-height: 140px;
}

.navbar a {
	font-weight: bold;
	text-decoration: none;
}

.navbar .nav-link {
    padding: 10px 15px !important;
	color: #4E4D4E !important;
	font-size: 25px;
}

.navbar .nav-link:hover, .navbar .nav-link.active {
    background-color: #E12228;
    border-radius: 15px;
    opacity: 1;
    color: #FFF !important;
}

.navbar-nav {
    width: 100%;
	justify-content: space-around;
}

/* end menu */

footer{
	position: relative;
	top: -35px;
}

footer::before{
	content:url(assets/cloud-up.png);
	display: block;
}

footer a{
	color: #4E4D4E;
}

footer a:hover{
	color: #4E4D4E;
	text-decoration: none;
}

footer .bottom-logo{
	max-height: 165px;
}

#btn_move_top {
	position: fixed;
	bottom: 10pt;
	right: 10pt;
	z-index: 99;
	cursor: pointer;
	opacity: 0.6;
	background-color: #E12228;
}

#btn_move_top:hover {
	opacity: 1;
	background-color: #E12228;
}

#btn_move_top img {
	padding: 5px;
	width: 40px;
	height: 40px;
}
