/*sm screen*/
@media (max-width: 560px) {
    .navbar .navbar-brand {
        margin-right: 0;
    }
    .navbar .navbar-brand img {
        max-height: 70px;
    }

    .navbar .nav-link {
        padding: 10px 15px !important;
        color: #4E4D4E !important;
        font-size: 12px;
    }
}
@media (min-width: 576px) {
    .navbar .navbar-brand {
        margin-right: 70px;
    }
    .navbar .navbar-brand img {
        max-height: 70px;
    }
}
@media (max-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) {
    .navbar .nav-link {
        font-size: 16px;
    }
}
@media (max-width: 1200px) {

}
@media (min-width: 1200px) {
    #main-wrap .container {
        max-width: 1500px;
    }
    .navbar .nav-link {
        font-size: 22px;
    }
    .navbar .navbar-brand {
        margin-right: 70px;
    }
    .navbar .navbar-brand img {
        max-height: 120px;
    }
}
@media (min-width: 1600px) {

}
