@import url('./loadding.css');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

/* ============================================ MARGIN PADDING ==============================================*/
.pd-0 {
    padding: 0 !important;
}

.pd-10 {
    padding: 10px;
}

.pd-20 {
    padding: 20px;
}

.pl-15{
    padding-left: 15px;
}

.pr-15{
    padding-right: 15px;
}

.pd-l-0 {
    padding-left: 0 !important;
}

.pd-r-0 {
    padding-right: 0 !important;
}

.pdlr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

/* ============================================ HEADER ==============================================*/


/* ============================================ MENU ==============================================*/

.menu-item .list-group > a {
    padding-left: 50px;
}


/* ============================================ CONTENT ==============================================*/
.header-title {
    margin-bottom: 15px;
    padding: 4px 6px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    border-left: 5px solid;
}
.table {
    margin-bottom: 0;
}
.table tr th {
    text-align: center;
    vertical-align: middle !important;
}
.table tr td {
    vertical-align: middle !important;
}
.container {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 3px;
    background-color: #fff;
}
.ck-editor__editable_inline {
    min-height: 200px;
    background-color: #fff;
}
.toolbar-container {
    top: 43px;
}
/* ============================================ FOOTER ==============================================*/


#waitting,
#btn_move_top {
    display: none;
}

/*loadding css*/
#waitting{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:10000;
    display: none;
}

#overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	background-color: #999;
	opacity: 0.5;
}

#btn_move_top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    opacity: 0.7;
    background-color: #bbb;
}

#btn_move_top:hover {
    opacity: 1;
}

#btn_move_top i {
	padding: 5px;
	color:fff;
	font-size:30px;
}
/* ============================================ PAGINATION ==============================================*/
.pagination {
    padding: 0 10px;
    overflow: auto;
}

.pagination li {
    margin: 0 5px 10px 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.pagination li.active {
    border-color: #E91D24;
}

.pagination li:hover {
    border-color: #E91D24;
}

.pagination li:first-child {
    margin-left: 0;
}

.pagination li:last-child {
    margin-right: 0;
}

.pagination li a {
    padding: 5px;
    align-self: center;
    color: #E91D24;
    text-decoration: none;
    width: 35px;
    height: 35px;
}

.message{
    white-space: pre-wrap;
    background: #e9ecef;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    border-radius: .25rem;
}